
<!-- <router-outlet></router-outlet> -->


<div class="wrapper" >
    <div class="sidebar"  data-color="purple" data-image="assets/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper" style="background-color:#126fb6;" >
            <div class="logo">
                <a  class="simple-text">
                    Personal Task
                </a>
               
            </div>
            
            <ul class="nav">
                <li >
                    <a routerLink = "/">
                        <i class="pe-7s-graph"></i>
                        <p>All Personal</p>
                    </a>
                </li>
                <li>
                    <a routerLink = "/addpersonal">
                        <i class="pe-7s-user"></i>
                        <p>New Personal</p>
                    </a>
                </li>
                <li>
                    <a routerLink = "/task">
                        <i class="pe-7s-note2"></i>
                        <p>Task</p>
                    </a>
                </li>
                <li>
                    <a routerLink = "/task/addtask">
                        <i class="pe-7s-news-paper"></i>
                        <p>New Task</p>
                    </a>
                </li>
                  
            </ul>
    	</div>
    </div>
    <div class="main-panel"b style="padding: 0px 30px 30px 30px;margin-left:150px;">
        
            <div class="navbar-header" >
                    <button type="button" class="navbar-toggle" data-toggle="collapse" style="background-color: rgb(41, 6, 168); top:10px">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>
        <router-outlet></router-outlet>
        <!-- <div class="container" style="width:400px">
            <div style="color: blue; margin-bottom: 20px">
                <h3>Upload Muntifile</h3>
            </div>
            <form-upload></form-upload>
            <br/>
            <br/>
            <list-upload></list-upload>
        </div> -->
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">

                </nav>
                <p class="copyright pull-right">
                    &copy; 2018 <a href="">Pham Duy An</a>
                </p>
            </div>
        </footer>

    </div>
</div>
