.big {
	float:left;border-radius:10px 10px 10px 10px; border:1px solid rgb(27, 149, 206); margin-left:15px;width:350px;height:400px;
	background-color: #e4eefc;
	width:150px;
	height:150px;
	border:1px solid rgb(12, 37, 146);
	position:relative;     /*quy dinh thuoc tinh lam nen*/
	margin: auto;
	-webkit-perspective:200px;/*tao quay 3D */
	-webkit-transform-style:preserve-3d;/*tao quay 3D on dinh hon */
}

.big .small{
    border-radius: 10px 10px 10px 10px;
	opacity:0;					/*Do trong*/
	width:150px;
	height:30px;
	background: #96d9f3;
	color: white;
	position: absolute;			/*nam trong position renative*/
	bottom: 0px;
	left: 0px;
	transition:all ease 1s;/* thoi gian Chuyen dong*/
	-webkit-transform:rotateX(180deg);
	-webkit-transform-origin:0px 0px; /* trai 0px tren 0px*/

}
.big:hover .small{/*hover co class nho*/
	opacity:0.7;				/*Do trong*/
	/*top:30px;
    left:30px;*/

	-webkit-transform:rotateY(0deg);
	

}