<div>
    <div style="width:100%;margin-left:10px;background-color:#337ab7; height:40px;border-radius:5px 5px 5px 5px;" ><h3 style=" padding:8px;">Create personal</h3></div>
<form id="adduser" name = "adduser" #userdata="ngForm" (ngSubmit)="adduser(userdata.value)" >
  <div style="float:left;">
    <div class="row">
      <div class="col-lg-12" style="margin-top:2%;" >
      <div class="col-lg-3">
        <label for="form-control">Full name </label>
        <input type="text" class="form-control" placeholder="Full name" name="name_personal"  maxlength="24" required minlength="4"  [(ngModel)]="name_personal"  #myName="ngModel" >
        <div *ngIf="myName.errors && (myName.dirty || myName.touched)" class="alert alert-danger">
          <div [hidden]="!myName.errors.required">
              Name is required
          </div>
          <div [hidden]="!myName.errors.minlength">
              Name must be at least 4 characters long.
          </div>
          <div [hidden]="!myName.errors.maxlength">
              Name cannot be more than 24 characters long.
          </div>
        </div>
      </div>
      <div class="col-lg-2" >
        <label for="form-control">Date of birth </label>
        <input type="date" class="form-control" ngModel name="date_personal" required>
      </div>
      <div class="col-lg-4">
        <label for="address_personal">Address </label>
        <textarea type="text" name="address_personal" class="form-control" id="address_personal" placeholder="Address" ngModel required></textarea>
      </div>
      <div class="col-lg-2">
        <label for="form-control">Sex : </label><br>
        <label style="margin-left:15px;">
          <input type="radio" name="sex_personal" value="male" ngModel required>Male</label>
        <label style="margin-left:15px;">
          <input type="radio" name="sex_personal" value="female" ngModel  required>FeMale</label>
        <label style="margin-left:15px;">
          <input type="radio" name="sex_personal" value="other" ngModel required >Other</label>
      </div>
    </div>
    <div class="col-lg-12" style="margin-top:2%;">
      <div class="col-lg-2">
        <label for="form-control">Create date : </label><br>
        {{date|date:'dd/MM/yyyy'}}
      </div>
      <div class="col-lg-3">
        <label for="form-control">Email </label>
        <input type="email" class="form-control" name = "email" placeholder="example@gmail.com"  required   [(ngModel)]="email"  #myemail="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" >
        <div *ngIf="myemail.errors && (myemail.dirty || myemail.touched)" class="alert alert-danger">
          <div [hidden]="!myemail.errors.required">
              Email is required
          </div> 
          <div [hidden]="!myemail.hasError('pattern')">Email format should be 
              <small><b>duyan@abc.com</b></small>
           </div>
        </div>
      </div>
      <div class="col-lg-2">
        <label for="form-control">Position</label>
        <select class="form-control" [(ngModel)]="selectedValue" name="position" ngModel  required>
          <option *ngFor="let pos of position" [value]="pos.value">{{pos.viewValue}}</option>
        </select>
      </div>

      <div class="col-lg-2">
        <label for="form-control">Phone Number </label>
        <input type="text" class="form-control" name = "numberphone_personal" [(ngModel)]="numberphone_personal"  #myPhone="ngModel" required pattern="\+{0,1}[0-9]*" minlength="10" maxlength="14" >
        <div *ngIf="myPhone.errors && (myPhone.dirty || myPhone.touched)" class="alert alert-danger">
            <div [hidden]="!myPhone.errors.required">
                Phone number is required
            </div> 
            <div [hidden]="!myPhone.hasError('pattern')">Phone number should be number or +number
             </div>
          </div>
      </div>
      <div class="col-lg-2">
        <label for="form-control">Image</label><br>
        <div *ngIf="currentFileUpload" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped"
              role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
              aria-valuemin="0" aria-valuemax="100"
              [ngStyle]="{width:progress.percentage+'%'}">
              {{progress.percentage}}%</div>
          </div>
           
          <label class="btn btn-default">
            <input type="file" (change)="selectFile($event)">
          </label>
      </div>
      <div class="col-lg-12" style="margin-top:2%;">
        <input type="submit" class="btn btn-info" value="Add User"[disabled]="!userdata.valid" >
      </div>
    </div>
  </div>
  </div>
</form>
<h3 *ngIf="isAdded">add successfull</h3>
<div style="clear:both;"></div>